# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
*.egg
venv/
.venv/
env/
*.env

# Flask
instance/
.flask_session/

# Electron / Node
node_modules/
package-lock.json
out/
dist-electron/

# IDE / OS
.DS_Store
.idea/
.vscode/
*.swp
*~
Thumbs.db
